# Игнорируемые папки
plan/
tests/
lesson_2_classes/md_src/

# Общие файлы для игнорирования
.DS_Store
Thumbs.db
*.log
*.tmp
*.temp

# IDE и редакторы
.vscode/
.idea/
*.swp
*.swo
*~

# Временные файлы
node_modules/
.env
.env.local
.env.production

# Ноутбуки
lesson_2_classes/main.ipynb
lesson_3_methods/src/sols/

lesson_4_class_practice/src.md

lesson_5_pygame/src/solutions/